<!DOCTYPE html>
<title>Weather Station</title>
<head>
    <style>
        table, th, td {
          border: 1px solid black;
        }
        </style>
</head>
<table>
    <tr>
        <td>Humidity</td>
        <td>Temperature in C </td>
        <td>Temperature in F</td>
        <td>Heat Index in Fahrenheit</td>
        <td>Heat Index in Celsius</td>
    </tr>

    <tr>
        <td>{{humidity}}</td>
        <td>{{temp_in_C}}</td>
        <td>{{temp_in_F}}</td>
        <td>{{heatIndex_in_C}}</td>
        <td>{{heatIndex_in_F}}</td>
    </tr>
</table>
